html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main .slider {
  border-right: 1px solid #3c3c3c;
  text-align: center;
  color: #fff;
}

.main .header {
  text-align: center;
  border-bottom: 1px solid #3c3c3c;
  -webkit-app-region: drag;
  margin: 0;
  padding: 0 16px;
}

.main .content {
  text-align: center;
  color: #fff;
}
